/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); 


/* BODY */
* {
    margin: 0
}

/* HEADER */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}

/* PRODUCTS-LIST */

.products-list {
    padding-top: 20px;
}

/* PRODUCT CARDS */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 380px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card img {
      width: 380px;
  }

  .title {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  /* BUTTONS */
 .products-list button {
    width: 120px;
    margin: 0 auto;
  }

  .new-product-btn {
    background-color: #ce3e3e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto;
  }

  a {
  text-decoration: none;
  color: grey;
  }

  /* NAVBAR */
  .menu {
    float: right;
  }

  /* DROPDOWNS */
  select {
    width: 25%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #ce3e3e;
    color: white;
    padding: 10px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* FORMS */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* NAVBAR MENU LOGGED IN - LOGGED OUT */

  .menu-not-logged-in {
    padding-right: 10px;
    float: right;
  }

  a.menu-not-logged-in {
    color: white;
  }

  /* BASKET NAVBAR */

  .remove_cart_item {
    float: left;
  }

  .basket-item {
    margin: 80px;
  }

  .basket-counter {
    float: right;
    margin-right: 40px;
    color: white;
  }

  /* RESPONSIVE IMAGES */

  img {
    max-width: 100%;
    height: auto; 
  }

  .product-page-button {
    margin: 10px;
  }

  .basket-buttons {
    margin: 10px;
  }

  .menu-item {
    color: white;
    float: right;
    padding-right: 40px;
  }

  .nav-buttons {
    float: left;
  }