<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New Arrival! %>!</p>
    <p>
    This Just In<br>
    --------------------------
    </p>
    <p>Name: <%= @product.name %></p>
    <p>Price: <%= @product.price %></p>
    <p>Category: <%= @product.category %></p>
  </body>
</html>