<div class="container">
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <div class="row">
    <div class="col-25">
    <%= f.input :name %>
    </div>
    </div>
    <div class="row">
    <div class="col-75">
    <%= f.input :description %>
    </div>
    </div>
    <div class="row">
    <div class="col-25">
    <%= f.input :price %>
    </div>
    </div>
    <div class="row">
    <div class="col-75">
    <%= f.input :image, as: :file %>
    </div>
    </div>
    <div class="row">
    <div class="col-25">
    <span class="select">
    <%= f.input_field :category, collection: Product::CATEGORY, prompt: "Select category" %>
    </span>
    </div>
    </div>
    <div class="row">
    <div class="col-75">
    <%= f.input :release_date %>
    </div>
    </div>
    <div class="row">
    <div class="col-75">
    <%= f.input :stock_level %>
    </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
