<!DOCTYPE html>
<html>
  <head>
    <title>NowSignage</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
</div>
<% end %>

  <%= render "layouts/header" %>
  <div class="container">

    <%= yield %>

  </div>

  </body>
</html>